<div id="battleIndex" style="padding-left:90px">
	<script src="http://yui.yahooapis.com/2.8.2r1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script src="http://yui.yahooapis.com/2.8.2r1/build/element/element-min.js"></script>
	<script type="text/javascript">
		function fight(){
			var selectFrame = document.getElementById("battleSelect");
			var viewFrame = document.getElementById("battleFight");
			
			selectFrame.style.display="none";			
			viewFrame.style.display="block";			
		}
		//create an Element instance wrapping 'foo':
		var el = new YAHOO.util.Element('battleContacts');
 
		//create an event listener:
		var handleClick = function(e) {
		    alert(el.get('id') + ' clicked');
			//remove this listener, so that
		};
		//assign an event listener using 'on';
		//el.addListener and el.on are identical here:
		el.on('click', handleClick);
		
	</script>
	<div id="battleContent">
	<div id="battleSelect" style="display:block;">
		<H2> It's on, Battle! </H2>	
		<div id="battleContacts" style="width:600px;">
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>						
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>			
		</div>
		
		<button id="battleBt" onclick="fight()"> I want these guys to fight! </button>	
		</br>
		hint: this button will only be avaliable if user selects 2 profiles to fight
	</div>
	
	<div id="battleFight" style="display:none;">
		<H2> The Battle is: </H2>
		
		<div id="battleView">
		
		<div id="left" style="float:left;">
			<div id="battleFighter1" style="padding-left:25px;">
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			</div>
			<button id="battleBt" disabled=""> This bitch wins for sure! </button>
		</div>
		<H2 style="float:left; padding-left:25px; padding-right:25px;"> V.S </H2>
		
		<div id="right" style="float:left;">
			<div id="battleFighter2" style="padding-left:25px;">
			<img src="http://a2.twimg.com/profile_images/150561718/novo-2.jpg"/>
			</div>
			<button id="battleBt" disabled=""> Nah, this one`s better </button>		
		</div>
								
	</div>
	</div>
	</div>
	
	
	

</div>