<div id="battleIndex" style="padding-left:90px">
	<script type="text/javascript" src="/js/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="/js/yui/selector/selector-min.js"></script>
	<script type="text/javascript" src="/js/yui/event-delegate/event-delegate-min.js"></script>
	<script type="text/javascript" src="/js/battleView.js"></script>

	<div id="battleContent">
		
		<div id="battleSelect" style="display:block;">
			<H2> It's on, Battle! </H2>	
			<div id="battleContacts" style="width:600px;">
				<% @friends.each do |result| %>	
					<% if result['profile_image_url'] != "http://static.twitter.com/images/default_profile_normal.png" %>       
						<img src="<%= result['profile_image_url'] %>" screenname="<%= result['screen_name']%>" width="73px" height="73px"/>
					<% end %>
				<% end %>			
			</div>
			<button id="battleBt" disabled="" onclick="fight()"> I want these guys to fight! </button>			
			</br>
		</div>
	
		<div id="battleFight" style="display:none;">
			<H2> The Battle is: </H2>
			<div id="left" style="float:left;">
				<div id="battleFighter1" style="padding-left:25px;">				
				</div>
				<button id="fighterBt1" onclick="fnCallbackF1()"> This bitch wins for sure! </button> 
			</div>	
					
			<H2 style="float:left; padding-left:25px; padding-right:25px;"> V.S </H2>		
			<div id="right" style="float:left;">
				<div id="battleFighter2" style="padding-left:25px;">		
				</div>
				<button id="fighterBt2" onclick="fnCallbackF2()"> Nah, this one`s better </button>
			</div>	
			<br clear="all"/>
		</div>
		
		<div id="battleView" style="display:none;">
			<H2> Thank you for wasting the damn time voting! </H2>
			<br/>
			<img id="chart" src="" width="160" height="220" alt="Tweet  %`s"  style="float:left;"/>
			
			<div id="fighterImage" style="float:left; padding-left: 40px;">
			<small>Your vote:</small>
			<br/>
			</div>
			<br clear="all"/>
		</div>
		
	</div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21379873-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
