<h2><%= @received.size %> Received Messages</h2>
<%= partial 'messages', :locals => {:messages => @received} %>

<h2><%= @sent.size %> Sent Messages</h2>
<%= partial 'messages', :locals => {:messages => @sent} %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21379873-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>