<div style="padding-left:90px;">
    <form action="/search">
        <input style="font-size:20px" type="text" name="q" value="<%= params[:q] %>"/>
        <input style="font-size:20px" type="submit" value="search"/>
    </form>
</div>
<br/>

<%= partial 'results' %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21379873-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>